<%# Loads the entire contents of header.ejs%>
<%-include('base_header') -%>

<form method="post" action="/persist">
    Dados para persistir no banco de dados: <br/>
    Nome: <input name="name" type="text" /><br/>
    CPF: <input name="cpf" type="text" /><br/>
    Banco de Dados:
    <select name="database">
        <option value="postgres">Postgres</option>
        <option value="mongodb">MongoDB</option>
        <option value="mariadb">MariaDB</option>
    </select><br/>
    <input type="submit" value="Enviar">
</form>
    
<%# Includes the entire contents of footer.ejs %>
<%- include('base_footer') -%>

